* {
  margin: 0;
  font-family: "Geologica", sans-serif;
}

body {
  overflow: hidden;
  background-color: black;
}

.canvas-scene {
  background-color: black;
  height: 100vh !important;
}

/* CSS to increase the width of dat.gui sliders */
.dg.main .cr.number input[type="text"] {
  width: 100px; /* Adjust the width as needed */
}

#pointer {
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  width: 6px;
  height: 6px;
  position: fixed;
  left: 50%;
  transform: translateX(-3px);
  top: 50%;
  transform: translateY(-3px);
  z-index: 1;
}

.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  background-color: #a90011b5;
  backdrop-filter: blur(10px);
  z-index: 4;
}

.modal-background2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.modal-container2 {
  margin: 5px 7px 9px 7px;
  width: 100%;
  max-width: 12px;
}

.modal-body2 {
  position: relative;
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b09899;
  font-size: x-large;
  gap: 30px;
  z-index: 6;
}

.modal-container {
  margin: 50px 70px 90px 70px;
  width: 100%;
  max-width: 1200px;
}

.modal-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d89ea3;
  border-radius: 20px 20px 0 0;
  height: 50px;
  padding-inline: 20px;
  font-weight: bold;
  z-index: 7;
}

.modal-body {
  position: relative;
  background-color: white;
  height: 60vh;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  color: #b09899;
  font-size: x-large;
  gap: 30px;
  z-index: 6;
}



.title-npc{

}

.body-npc{

}

.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
}


.logo-container img {
  width: 60px;
}


.website-button {
  margin-top: 60px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  top: 150px;
  right: 450px;
  width: 800px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.website-button:hover {
  background-color: darkred;
}

.toolbars-background {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 50px;
  width: 100%;
  z-index: 8;
}

.toolsbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  width: 100%;
  max-width: 800px;
  height: 80px;
  background-color: white;
  margin: 0 160px;
  border-radius: 20px;
}

.toolsbar-user-data {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.toolsbar-user-data strong {
  color: #f00004;
}

.avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  left: -50px;
  border-radius: 100px;
}

.button {
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #b2b7c1;
  background-color: unset;
  border-radius: 50px;
}

.button img {
  width: 34px;
  height: 34px;
}

.button span {
  margin-inline: 30px;
  font-weight: bold;
}
